//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-greylight: #f5f5f5;
$color-graydark: #242424;
$color-orange: #f27531;
$color-pink: #e8193c;

// FONTS
$font-special: "blackberriesbold";
$font-title: "free_brushfontregular";
$font-body: "sofia_prolight";
$font-body-black: "sofia_problack";
