* {
  margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: $font-body;
  font-size: 100%;
  background-color: #f5f5f5;
}

ul, li {
  list-style-type: none,
}

a {
  text-decoration: none;
}

.wrapper {
  width: auto;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 8vw;
}

h1 {
  font-family: $font-special;
  font-size: 4em;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    font-size: 2em;
  }
}

h2 {
  font-family: $font-title;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-family: $font-special;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-family: $font-special;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: normal;
}
