@keyframes slidein {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bubble {
  from {
    transform: rotateZ(0) scale(0);
    opacity: 0
  }

  33% {
    transform: rotateZ(15deg) scale(1.1);
    opacity: 1;
  }

  69% {
    transform: rotateZ(-5deg) scale(0.9);
  }

  to {
    transform: rotateZ(0) scale(1);
  }
}
