header {
  position: fixed;
  padding: 1vh 2vw;
  width: 100%;
  z-index: 1001;
  .menu_bar {
    @include flex_row();
    align-items: center;
    justify-content: space-between;
    .block_logo {
        img {
          width: 10vw;
          height: auto;
          @media screen and (max-width: 1200px) {
            height: 6vh;
            width: auto;
          }
        }
    }
    .block_right {
      @include flex_row();
      align-items: center;
      .block_panier {
        @include flex_row();
        align-items: center;
      }
    }
  }
}
