.block_julius {
  position: relative;
  padding: 8vh 8vw;
  @include flex_row();
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5vh;
  @media screen and (max-width: 1200px) {
    @include flex_column();
  }
  .julius_portrait {
    width: 33%;
    margin-right: 5vw;
    animation-name: juliuspop;
    animation-duration: 800ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-bottom: 10%;
      margin-right: 0;
    }
  }
  h3 {
    color: $color-pink;
    text-align: center;
    position: relative;
    animation-name: juliuscitation;
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
  }
  h3:after {
    content:'Julius Robert Von Mayer';
    font-family: $font-body;
    font-size: 0.5em;
    text-transform: none;
    color: $color-black;
    position: absolute;
    bottom: -4vh;
    right: 0;
  }
  .quotes {
    width: 33%;
    position: absolute;
    z-index: -1;
    opacity: 0.05;
    right: 25%;
    animation-name: juliusquotes;
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
    @media screen and (max-width: 1200px) {
      right: 50%;
      top: 75%;
    }
  }
}

.recyclage_intro {
  width: 50%;
  margin: auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  p {
    font-size: 1.5em;
    line-height: 3vh;
    animation-name: slidein;
    animation-duration: 2s;
    animation-delay: 1500ms;
    animation-fill-mode: backwards;
  }
}

.recyclage_section_1 {
  padding: 0 8vw;
  margin-top: 10vh;
  .recyclage_section_1_part_1 {
    @include flex_row();
    align-items: center;
    @media screen and (max-width: 1200px) {
      @include flex_column();
    }
    section {
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
        order: 2;
      }
      h4 {
        color: $color-orange;
        position: relative;
      }
      h4:after {
        content:'Légères et 100% recyclables';
        font-family: $font-body_black;
        font-size: 0.45em;
        text-transform: none;
        color: $color-black;
        position: absolute;
        left: 0;
        bottom: -3vh;
        opacity: 0.15;
      }
      p {
        font-size: 1.5em;
        line-height: 3vh;
        margin-top: 7vh;
      }
    }
    .recyclage_section_1_image {
      @include flex_row();
      align-items: center;
      justify-content: center;
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
        order: 1;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  h3 {
    width: 50%;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    margin: auto;
    margin-top: 8vh;
    color: $color-green;
    text-align: center;
  }

  details {
    margin-top: 8vh;
    summary {
      border: none;
      font-family: $font-body-black;
      font-size: 1.5em;
      color: $color-green;
      cursor: pointer;
      text-align: center;
      margin-bottom: 5vh;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary:focus {
      outline: none;
    }
    section {
      width: 75%;
      margin-bottom: 5vh;
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      h4 {
        color: $color-green;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.5em;
        line-height: 3vh;
      }
    }
  }
}

.recyclage_section_2 {
  padding: 0 8vw;
  margin-top: 10vh;
  .recyclage_section_2_part_1 {
    @include flex_row();
    align-items: center;
    @media screen and (max-width: 1200px) {
      @include flex_column();
    }
    section {
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
        order: 2;
      }
      h4 {
        color: $color-orange;
        position: relative;
      }
      h4:after {
        content:'Économiser les ressources en passant par de courtes distances';
        font-family: $font-body_black;
        font-size: 0.45em;
        text-transform: none;
        color: $color-black;
        position: absolute;
        left: 0;
        bottom: -7vh;
        opacity: 0.15;
      }
      p {
        font-size: 1.5em;
        line-height: 3vh;
        margin-top: 11vh;
      }
    }
    .recyclage_section_2_image {
      @include flex_row();
      align-items: center;
      justify-content: center;
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
        order: 1;
        margin-bottom: 10%;
      }
      img {
        width: 50%;
      }
    }
  }
  h3 {
    width: 50%;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    margin: auto;
    margin-top: 8vh;
    color: $color-pink;
    text-align: center;
  }

  details {
    margin-top: 8vh;
    summary {
      border: none;
      font-family: $font-body-black;
      font-size: 1.5em;
      color: $color-pink;
      cursor: pointer;
      text-align: center;
      margin-bottom: 5vh;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary:focus {
      outline: none;
    }
    section {
      width: 75%;
      margin-bottom: 5vh;
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      h4 {
        color: $color-pink;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.5em;
        line-height: 3vh;
      }
    }
  }
}
