.recyclage_banner {
  background: url("../../assets/images/mount_cervin.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  div {
    @include flex_row();
    align-items: center;
    justify-content: center;
    background-color: rgba(242,117,49,0.75);
    height: 100%;
    width: 100%;
    h2 {
      color: $color-white;
      em {
        font-family: $font-special;
        font-size: 2em;
      }
    }
  }
}

.block_julius {
  position: relative;
  padding: 8vh 8vw;
  @include flex_row();
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5vh;
  .julius_portrait {
    width: 33%;
    margin-right: 5vw;
  }
  h3 {
    color: $color-orange;
    text-align: center;
    position: relative;
  }
  h3:after {
    content:'Julius Robert Von Mayer';
    font-family: $font-body;
    font-size: 0.4em;
    text-transform: none;
    color: $color-black;
    position: absolute;
    bottom: -4vh;
    right: 0;
  }
  .quotes {
    width: 33%;
    position: absolute;
    z-index: -1;
    opacity: 0.05;
    right: 25%;
  }
}

.recyclage_intro {
  width: 50%;
  margin: auto;
  p {
    font-size: 1.1em;
    line-height: 3vh;
  }
}

.recyclage_section_1 {
  padding: 0 8vw;
  margin-top: 10vh;
  .recyclage_section_1_part_1 {
    @include flex_row();
    align-items: center;
    section {
      width: 50%;
      h4 {
        color: $color-orange;
        position: relative;
      }
      h4:after {
        content:'Légères et 100% recyclables';
        font-family: $font-body_black;
        font-size: 0.45em;
        text-transform: none;
        color: $color-black;
        position: absolute;
        left: 0;
        bottom: -3vh;
        opacity: 0.15;
      }
      p {
        font-size: 1.1em;
        line-height: 3vh;
        margin-top: 7vh;
      }
    }
    .recyclage_section_1_image {
      @include flex_row();
      align-items: center;
      justify-content: center;
      width: 50%;
      img {
        width: 50%;
      }
    }
  }
  h3 {
    width: 50%;
    margin: auto;
    margin-top: 8vh;
    color: $color-orange;
    text-align: center;
  }

  details {
    margin-top: 8vh;
    summary {
      border: none;
      font-family: $font-body-black;
      font-size: 1.5em;
      color: $color-orange;
      cursor: pointer;
      text-align: center;
      margin-bottom: 5vh;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary:focus {
      outline: none;
    }
    section {
      width: 75%;
      margin-bottom: 5vh;
      h4 {
        color: $color-orange;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.1em;
        line-height: 3vh;
      }
    }
  }
}

.recyclage_section_2 {
  padding: 0 8vw;
  margin-top: 10vh;
  .recyclage_section_2_part_1 {
    @include flex_row();
    align-items: center;
    section {
      width: 50%;
      h4 {
        color: $color-orange;
        position: relative;
      }
      h4:after {
        content:'Économiser les ressources en passant par de courtes distances';
        font-family: $font-body_black;
        font-size: 0.45em;
        text-transform: none;
        color: $color-black;
        position: absolute;
        left: 0;
        bottom: -3vh;
        opacity: 0.15;
      }
      p {
        font-size: 1.1em;
        line-height: 3vh;
        margin-top: 7vh;
      }
    }
    .recyclage_section_2_image {
      @include flex_row();
      align-items: center;
      justify-content: center;
      width: 50%;
      img {
        width: 50%;
      }
    }
  }
  h3 {
    width: 50%;
    margin: auto;
    margin-top: 8vh;
    color: $color-orange;
    text-align: center;
  }

  details {
    margin-top: 8vh;
    summary {
      border: none;
      font-family: $font-body-black;
      font-size: 1.5em;
      color: $color-orange;
      cursor: pointer;
      text-align: center;
      margin-bottom: 5vh;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    section {
      width: 75%;
      margin-bottom: 5vh;
      h4 {
        color: $color-orange;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.1em;
        line-height: 3vh;
      }
    }
  }
}
